<!DOCTYPE html>
<html>
<head>
  <title>Lyk2015Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p align="right"> Welcome! <%= current_user.email %> </p>

<%= yield %>

</body>
</html>
